/*background*/
header{
    background-image:url(inages/5.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
    height: 944px;
}
/*background*/
body{
    padding: 0;
    margin: 0;
    font-family:impact;
}
.container{
    float: left;
}
nav{
   float: right;
    
}
.menu{
    padding: 0;
    margin: 0;
    display: block;
    margin-right: 570px;
    margin-top: 50px;
}
nav li{
    float: left;
    display: block;
    margin-right: 40px;
    font-size:50px;
}
.logo{
    margin-top: 10px;
}
a{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}
.kyp{
   
    margin:auto;
    display: block;
}
.f5{
    margin-top: 300px;
}
.f6{
   
    margin:auto;
    display: block;
    margin-top: 300px;
}
.f7{
 margin-bottom: 300px; 
 margin-top: 300px;
}
 /*crollbar*/
::-webkit-scrollbar {
	width: 10px!important;
	height: 10px!important;
}
::-webkit-scrollbar-thumb {
	background-color: #282828!important;
	border: 2px solid #282828!important;
	border-radius: 10px!important;
}
::-webkit-scrollbar-track {
	background-color: transparent!important;
}
::-webkit-scrollbar-thumb:hover {
	background: #282828!important;
}
::-webkit-scrollbar-thumb:active {
	background: #282828!important;
}
::-webkit-scrollbar-corner {
	background: #282828!important;
}
/*crollbar*/